
volumes:
  mongo_data:
  minio_data:
  keydb_data:

{%- if USE_RABBITMQ %}
  rabbitmq_data:
{%- endif %}

{%- if USE_KAFKA and USE_BULLMQ %}
  kafka_data:
{%- endif %}

{%- if USE_MQTT and USE_BULLMQ %}
  mosquitto_data:
  mosquitto_config:
  mosquitto_log:
{%- endif %}
