.menu {
    --clr-highlights-cyan-1000: rgba(50, 100, 20);
    --clr-highlights-cyan-600: rgba(200, 100, 20);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5dvw;
    width: 100%;
}
