.scrollbar {
    --_box-shadow: inset 0 0 0.15rem rgba(230, 230, 230, 0.9);
    overflow: hidden;
    resize: inherit;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb {
        background-color: var(--clr-scrollbar-background, silver);
        outline: var(--clr-scrollbar-outline, 0.1px solid black);
        box-shadow: var(--_box-shadow);
        border-radius: 0.5rem;
    }

    & > * {
        margin-inline: 0.2rem;
        text-wrap: nowrap;
    }

    &--ltr {
        direction: ltr;
    }

    &--rtl {
        direction: rtl;
    }

    &--overflow {
        &-x {
            overflow-x: auto;
            overflow-y: hidden;
        }

        &-y {
            overflow-y: auto;
            overflow-x: hidden;
        }

        &-auto {
            overflow: auto;
        }
    }

    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        box-shadow: var(--_box-shadow);
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner {
        display: none;
    }
}
