.input-button {
    display: inline-flex;
    gap: 0.3rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    & > input {
        padding: 0;
        border: none;
        background-color: transparent;
        outline: none;
        border-bottom: 1px solid darkred;
    }
}
