.layout-default {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas:
        'header header header header header header header header header header header header header header header header'
        '. . . . . . . . . . . . . . . .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .'
        '. menu menu main main main main main main main main main main main main .';
}
