.slider {
    position: relative;
    padding: 1dvw 0 0;
    width: 100%;
    display: inline-block;

    &__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 250ms;
        font-size: 1rem;
        color: grey;
        font-weight: 700;
    }

    &__field {
        appearance: none;
        width: 100%;
        height: 0.6dvw;
        outline: none;
        opacity: 0.8;
        transition: opacity 250ms;
        border-radius: 1dvw;
        cursor: pointer;
        background-color: lightgray;

        &:required,
        &:invalid {
            box-shadow: none;
        }

        &:focus {
            &::-webkit-slider-thumb {
                background-color: var(--clr-highlights-cyan-1000);
            }

            ~ .slider__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 250ms;
                font-size: 1rem;
                color: var(--clr-highlights-cyan-1000);
                font-weight: 700;
                opacity: 1;
            }
        }

        &::-webkit-slider-thumb {
            appearance: none;
            width: 1dvw;
            height: 1dvw;
            background: grey;
            border-radius: 100%;
            border: 0.05dvw solid black;
        }

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown ~ .slider__label {
            font-size: 1.3rem;
            top: 2dvw;
        }
    }
}
