.page-switcher {
    user-select: none;
    padding: 0.5rem;
    align-items: center;
    display: inline-flex;

    span {
        min-width: 3rem;
        text-align: center;
        color: palevioletred;
        font-weight: bolder;
    }

    i:first-child {
        padding-left: 0.5rem;
    }

    i:last-child {
        padding-right: 0.5rem;
    }

    i {
        display: inline-flex;
        cursor: pointer;
        font-size: 1.8rem;
    }

    &--disabled {
        cursor: none;
        pointer-events: none;
        color: dimgray;
        opacity: 0.4;
    }
}
