.file-selector {
    width: 80%;
    cursor: pointer;
    display: flex;
    background-color: #13161c;
    color: ghostwhite;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    align-items: center;
    gap: 0.5rem;

    & > label {
        user-select: none;
        cursor: pointer;
    }
}

.file-menu {
    width: 20%;
    background-color: #13161c;
    color: ghostwhite;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}
