$glow-color: crimson;

.flicker {
    --clr-flicker-glow: #{$glow-color};
    --ms-flicker-border: 5000ms;
    --ms-flicker-border-delay: 2000ms;
    width: fit-content;
    height: fit-content;
    color: var(--clr-flicker-glow);
    border: 0.15rem solid var(--clr-flicker-glow);
    border-radius: 0.3rem;
    animation: border-flicker var(--ms-flicker-border) var(--ms-flicker-border-delay) linear infinite;
    box-shadow:
        inset 0 0 0.3rem 0 var(--clr-flicker-glow),
        0 0 0.3rem 0 var(--clr-flicker-glow);

    &:after {
        content: "";
        position: absolute;
        background-color: var(--clr-flicker-glow);
        box-shadow: 0 0 2rem 0.2rem var(--clr-flicker-glow);
        transition: all 250ms ease-in-out;
    }

    &:hover {
        animation: none;
        box-shadow:
            inset 0 0 0.5rem 0 var(--clr-flicker-glow),
            0 0 0.5rem 0 var(--clr-flicker-glow);

        &:after {
            opacity: 0.1;
        }

        .flicker-text {
            animation: none;
            text-shadow:
                0 0 0.125rem rgba(0, 0, 0, 0.8),
                0 0 0.175rem var(--clr-flicker-glow);
            &-faulty {
                animation: none;
                opacity: 1;
            }
        }
    }
}

.flicker-text {
    cursor: inherit;
    width: fit-content;
    height: fit-content;
    user-select: none;
    --ms-flicker-text: 3000ms;
    --ms-flicker-text-delay: 1000ms;
    --font-flicker-letter-spacing: 0.3rem;
    color: var(--clr-flicker-glow);
    display: block;
    text-indent: 0.3rem;
    letter-spacing: var(--font-flicker-letter-spacing);
    transition: all 250ms ease-in-out;

    animation: text-flicker var(--ms-flicker-text) var(--ms-flicker-text-delay) linear infinite;
    text-shadow:
        0 0 0.125rem rgba(0, 0, 0, 0.8),
        0 0 0.15rem var(--clr-flicker-glow);

    &-faulty {
        --ms-flicker-text-faulty: 4000ms;
        --ms-flicker-text-faulty-delay: 1000ms;
        opacity: 0.5;
        animation: faulty-flicker var(--ms-flicker-text-faulty) var(--ms-flicker-text-faulty-delay) linear infinite;
    }

    &:hover {
        animation-play-state: paused;
        text-shadow:
            0 0 0.125rem rgba(0, 0, 0, 0.8),
            0 0 0.175rem var(--clr-flicker-glow);

        .flicker-text-faulty {
            animation-play-state: paused;
            opacity: 1;
        }
    }
}

@keyframes faulty-flicker {
    0%,
    2%,
    87% {
        opacity: 0.1;
    }
    4%,
    80% {
        opacity: 0.5;
    }
    21% {
        opacity: 1;
    }
    83% {
        opacity: 0.4;
    }
}

@keyframes text-flicker {
    0%,
    8%,
    12%,
    25%,
    100% {
        opacity: 0.1;
    }
    2%,
    9%,
    20%,
    30%,
    70%,
    72%,
    77% {
        opacity: 1;
    }
}

@keyframes border-flicker {
    0%,
    4%,
    100% {
        opacity: 0.1;
    }
    2%,
    8%,
    70% {
        opacity: 1;
    }
}
