.media-player {
    position: relative;
    padding-block: 31.25%;
    background-color: rgba($color: #000000, $alpha: 0.6);

    &-audio {
        background-size: cover;
        background-image: url("https://t3.ftcdn.net/jpg/06/56/02/28/360_F_656022894_OrANripIfkv0beUB3GnGl8jVuFf7fhFy.jpg");
        animation: animateBackground 120s ease-in-out infinite;
    }

    &-overwrite {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
