@use "react-pdf/dist/Page/AnnotationLayer.css";
@use "react-pdf/dist/Page/TextLayer.css";

.react-pdf__Document,
.react-pdf__Page {
    border-radius: 0.3rem;

    &__canvas {
        border-radius: 0.3rem;
        width: 100% !important;
        height: 100% !important;
    }
}

.react-pdf__Page__textContent {
    & > span {
        user-select: none;
        cursor: default;
    }
}
