.pdf-viewer-menu {
    user-select: none;
    display: inline-flex;
    margin: auto;
    align-items: center;

    p {
        margin: 0px;
        padding: 0px;
        font-size: 1.2rem;
        text-align: center;
        margin: auto;
        font-weight: 900;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
    }

    button {
        display: inline-flex;
        padding: 0px;
        margin: 0px;
    }
}
