.pdf-viewer {
    position: relative;
    border-radius: 0.3rem;
    background: #13161c;

    p {
        background-color: unset;
    }

    &-container {
        & > * {
            border-radius: 0.3rem;
        }
    }
}
