.desktop-layout {
    display: grid;
    grid-template-columns: 6dvw auto 6dvw;
    grid-template-rows: 6dvh 88dvh 6dvh;
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
}
