.file-importer {
    gap: 0.5rem;
    display: grid;
    grid-template-areas:
        "menu menu"
        "content content";

    &-menu {
        grid-area: menu;
    }

    &-content {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "list preview";
        grid-template-rows: 2fr;
        gap: 0.5rem;

        &-list {
            grid-area: list;
            max-height: 65dvh;
        }

        &-preview {
            grid-area: preview;
            aspect-ratio: 1/1.41;
            max-height: 85dvh;
            border-radius: 0.3rem;
            width: 100%;

            .hidden {
                display: none;
            }

            canvas {
                width: 100%;
                height: 100%;
                border-radius: 0.3rem;
                background: #13161c;
            }

            p {
                padding: 0.2rem;
                width: 100%;
                height: 100%;
                border-radius: 0.3rem;
                background: #13161c;
                direction: ltr;
            }

            .pdf {
                padding: 0.2rem;
                width: fit-content;
                border-radius: 0.3rem;
                background: #13161c;

                p {
                    background-color: unset;
                }
            }
        }
    }
}

.file-card {
    display: grid;
    grid-template-areas: "icon content";
    // grid-template-columns: 0.2fr 0.8fr;
    padding: 0.3rem;
    gap: 0.5rem;

    div[data-icon] {
        grid-area: icon;
    }

    div[data-content] {
        grid-area: content;

        span {
            margin-inline: 0.3rem;
        }

        span[data-name="filename"] {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 40ch;
        }
    }
}
