.file-importer {
    display: grid;
    grid-template-areas:
        "menu menu"
        "content content";
    gap: 0.5rem;

    &-menu {
        grid-area: menu;
    }

    &-content {
        grid-area: content;
        display: grid;
        grid-template-columns: 32dvw 1fr 32dvw;
        grid-template-areas: "list preview tags";
        grid-template-rows: 1fr;
        gap: 0.5rem;

        &-list {
            grid-area: list;
            max-height: 65dvh;
        }

        &-tags {
            grid-area: tags;
            max-height: 65dvh;
        }

        &-preview {
            grid-area: preview;
            aspect-ratio: 1/1.41;
            max-height: 65dvh;
            border-radius: 0.5rem;

            .hidden {
                display: none;
            }

            canvas {
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                background: #13161c;
            }

            p {
                padding: 0.2rem;
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                background: #13161c;
                direction: ltr;
            }

            .pdf {
                padding: 0.2rem;
                width: fit-content;
                border-radius: 0.5rem;
                background: #13161c;

                p {
                    background-color: unset;
                }
            }
        }
    }
}

.file-card {
    display: flex;
    align-items: center;
    width: 50ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
    line-break: loose;
}
