.metae-menu {
    background-color: #13161c;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    position: relative;
    align-items: center;

    &-items {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
    }
}
