@use "../node_modules/css-reset-and-normalize/scss/reset-and-normalize";
@use "../node_modules/css-reset-and-normalize/scss/button-reset";
@use "../node_modules/css-reset-and-normalize/scss/link-reset";
@use "./partials" as partials; 

:root {
  @include partials.global-scrollbar;
  @each $color, $shade in partials.$colors {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }

  @each $color, $shade in partials.$scrollbar {
    @each $prop, $value in $shade {
      --scrollbar-clr-#{$color}-#{$prop}: #{$value};
    }
  }

  @each $rem, $scale in partials.$rem-scale {
    @each $prop, $value in $scale {
      --rem-#{$rem}-#{$prop}: #{$value};
    }
  }
}

body {
  overflow-y: scroll;
  background-color: partials.$background-color;
  color: #eee;
  font-size: 1rem;
}


