$scrollbar: (
  thumb: (
    bgColor: hsl(0, 0%, 80%),
    outline: 0.07rem solid hsl(360, 90%, 4%),
    brdRadius: 0.7rem
  ),
  container: (
    padding: 0.3rem 0px
  )
);

$colors: (
  highlights: (
    cyan-1000: #00f7da,
    cyan-100: rgba(#00f7da, 0.1),
    cyan-600: rgba(#00f7da, 0.6)
  ),
  primary: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(12, 100%, 43%),
    500: hsl(14, 100%, 20%)
  ),
  article: (
    100: hsl(219, 89%, 80%),
    200: hsl(219, 89%, 70%),
    300: hsl(219, 89%, 60%),
    400: hsl(212, 61%, 37%),
    500: hsl(219, 89%, 20%)
  ),
  youtube: (
    100: hsl(345, 88%, 80%),
    200: hsl(345, 88%, 70%),
    300: hsl(345, 88%, 60%),
    400: hsl(345, 88%, 46%),
    500: hsl(345, 88%, 20%)
  ),
  resource: (
    100: hsl(311, 46%, 80%),
    200: hsl(311, 46%, 70%),
    300: hsl(311, 46%, 50%),
    400: hsl(311, 46%, 33%),
    500: hsl(311, 46%, 15%)
  ),
  course: (
    100: hsl(176, 66%, 70%),
    200: hsl(176, 66%, 60%),
    300: hsl(176, 66%, 40%),
    400: hsl(176, 66%, 30%),
    500: hsl(176, 66%, 20%)
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 15%)
  ),
  selectBox: (
    itemBackGround: #13161c,
    itemBackGroundHover:
      rgba(
        $color: hsla(288, 90%, 8%, 0.358),
        $alpha: 0.3
      )
  )
);
