.svg-leaf-path {
    stroke: rgb(112, 112, 112) !important;
    stroke-width: 2;
    stroke-opacity: 0.4;
}

.svg-branch-path {
    stroke: rgb(222, 189, 2) !important;
    stroke-width: 2;
}

.tree-viewer {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5dvw;
    padding: 0.2rem;
    height: 100%;
    position: relative;

    &__content {
        padding: 0.5rem;
        border-radius: 0.5dvw;
        background-color: #13161c;
        height: 100%;
        position: relative;
    }
}
